<script src="https://efficiency-java-908.cs85.my.salesforce.com/lightning/lightning.out.js"></script>
<div id="lightning" /></div>
<h1>Welcome to my page</h1>
<script>
    $Lightning.use("c:LigthingOUT", function() {
        $Lightning.createComponent("lightning:button", {
                label: "Press Me!"
            },
            "lightning",
            function(cmp) {
                alert(1);
            });
    }, 'https://efficiency-java-908.cs85.my.salesforce.com');
</script>